@import '../../styles/vars';
@import '../../styles/mixins';

.popup-kanban {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000033;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: map-get($zIndexes, popup);
}

.popup-kanban__title {
  width: 400px;
  margin-bottom: 40px;
}

.popup-kanban__button {
  border: none;
  padding: 16px 20px;
  font-size: 20px;
  line-height: 121%;
  font-weight: $fw-semibold;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  max-height: 56px;
  cursor: pointer;
  background-color: white;
}

.popup-kanban__button_purple {
  width: 350px;
  height: 56px;
  background-color: $purple-base-color;
}

.popup-kanban__popup {
  width: 798px;
  height: 800px;
  background-color: white;
  border-radius: 20px;
  padding: 80px;
  position: relative;
}

.popup-kanban__button_close {
  padding: 0;
  background-image: url(../../images/closePopup.svg);
  width: 56px;
  height: 56px;
  position: absolute;
  top: 40px;
  right: 80px;
}
