@import '../../styles/vars';

.employeeViewCriteria__card {
  display: grid;
  grid-template-columns: 419px 230px 167px;
  column-gap: 24px;
  margin-bottom: 20px;
  align-items: center;
}

.employeeViewCriteria__text {
  font-size: 20px;
  font-weight: $fw-medium;
  line-height: 24.2px;
  color: $black-base-color;
}

.employeeViewCriteria__starbox {
  width: 166.91px;
  height: 52.67px;
  border-radius: 10px;
  background-color: $grey-base-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.employeeViewCriteria__star_out {
  position: relative;
  z-index: $zindex-10;
  background-image: url(../../images/star-employee-view-criteria-empty.svg);
  width: 26px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 2px;
}

.employeeViewCriteria__star_in {
  background-image: url(../../images/star-employee-view-criteria-full.svg);
  position: absolute;
  z-index: $zindex-20;
  overflow: hidden;
  width: 0;
  width: 26px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
}
