@import '../../styles/vars';

.taskViewPage__container {
  width: 1163px;
  display: flex;
  flex-direction: column;
  gap: 42px;
  border-radius: 28px;
  background-color: $light-gray-base-color;
  margin: 24px 20px 60px 0;
  height: 876px;
}

.taskViewPage__header {
  position: relative;
  width: 100%;
  height: 114px;
  border-bottom: 2px solid $grey-base-color;
}

.taskViewPage__row {
  display: flex;
  gap: 24px;
  align-items: center;
  padding: 44px 0 38px 66.75px;
}

.taskViewPage__back {
  display: flex;
  gap: 12.25px;
  cursor: pointer;
  border: none;
  background-color: inherit;
  padding: 0;
}

.taskViewPage__icon {
  width: 9px;
  height: 16.5px;
  background: url(../../images/CaretLeft.svg);
  background-size: cover;
  background-position: center;
}

.taskViewPage__caption {
  font-size: 16px;
  font-weight: $fw-medium;
  line-height: 19.36px;
  color: $black-base-color;
}

.taskViewPage__id {
  width: 88px;
  font-size: 16px;
  font-weight: $fw-medium;
  line-height: 19.36px;
  color: $black-base-color;
}

.taskViewPage__edit {
  display: flex;
  gap: 5.88px;
  align-items: center;
  margin-left: 123px;
  padding: 0;
  font-size: 16px;
  font-weight: $fw-medium;
  line-height: 19.36px;
  text-align: center;
  color: $black-base-color;
  background-color: transparent;
  border: none;

  div {
    background: url(../../images/edit-button-icon.svg);
    background-size: cover;
    width: 15.62px;
    height: 15.63px;
  }
}

.taskViewPage__score {
  position: absolute;
  width: 128px;
  height: 41px;
  top: 20px;
  right: 20px;
  border-radius: 50px;
  background-color: $yellow-base-color;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: $fw-medium;
  line-height: 19.36px;
}

.taskViewPage__block {
  position: relative;
  display: flex;
  gap: 45px;
  max-height: 658px;
}

.taskViewPage__tasks {
  box-sizing: border-box;
  width: 673px;
  padding-right: 47px;
  padding-left: 60px;
  border-right: solid 1px $black-base-color;
  overflow-y: hidden;

  h3 {
    font-size: 26px;
    font-weight: $fw-medium;
    line-height: 31.47px;
    color: $black-base-color;
    margin-bottom: 24px;
  }

  li {
    font-size: 22px;
    font-weight: $fw-regular;
    line-height: 26.63px;
    color: $black-base-color;
    margin-bottom: 22px;
  }
}

.taskViewPage__info {
  position: relative;
  height: 658px;
}

.taskViewPage__props {
  width: 400px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 20px;

  li {
    display: grid;
    grid-template-columns: 140px auto;
    font-size: 20px;
    line-height: 24.2px;
  }
}

.taskViewPage__name {
  font-weight: $fw-semibold;
}

.taskViewPage__value {
  font-weight: $fw-medium;
  padding-left: 19px;
}

.taskViewPage__delete {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 240px;
  height: 56px;
  border-radius: 20px;
  background-color: $purple-base-color;
  border: none;
  font-size: 20px;
  font-weight: $fw-semibold;
  line-height: 24.2px;
}
