@import '../../styles/vars';
@import '../../styles/mixins';

.user-form__wrapper {
  background-color: $white-base-color;
  width: 850px;
  height: 800px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  padding: 80px 159px 95px 160px;
  position: relative;
}

.user-form__title {
  font-weight: $fw-semibold;
  font-size: 36px;
  line-height: 121%;
  text-align: left;
}

.user-form__form {
  margin-top: 30px;
  width: 531px;
  position: relative;
}

.user-form__fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}

.user-form__password-field {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.user-form__input {
  border: 2px solid $black-base-color;
  border-radius: 20px;
  padding: 20px 24px;
  font-size: 20px;
  color: $black-base-color;
  box-sizing: border-box;
  height: 64px;
  width: 100%;
}

.user-form__span{
  height: 30px;
  font-weight: $fw-regular;
  font-size: 12px;
  line-height: 121%;
  color: $black-base-color;
  padding-left: 24px;
}

.user-form__password-field {
  position: relative;
  display: flex;
}

.user-form__password-button {
  position: absolute;
  top: 20px;
  right: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.user-form__input-error {
  font-weight: $fw-regular;
  font-size: 12px;
  min-height: 15px;
}

.user-form__submit-button {
  margin-top: 25px;
  border-radius: 20px;
  width: 350px;
  background-color: $purple-base-color;
  border: none;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 20px;
  font-weight: $fw-semibold;
  cursor: pointer;
}

.user-form__submit-button:hover {
  background: $wrapper;
}

.user-form__submit-button:active {
  background: $yellow-base-color;
}

.user-form__submit-button:disabled {
  background: $grey-base-color;
}


.user-form__close-icon-block {
  border: none;
  position: absolute;
  background-color: $purple-base-color;
  width: 56px;
  height: 56px;
  border-radius: 28px;
  top: 41px;
  right: 80px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.user-form__closeIcon {
  width: 32px;
  height: 32px;
  display: inline-block;
  background-repeat: no-repeat;
}

.user-form__eye-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
}