.not-found-task {
  display: grid;
  margin-top: 83px;
  justify-content: space-evenly;
}

.not-found-task__title {
  margin-top: 23px;
  width: 400px;
  text-align: center;
}

.not-found-task__subtitle {
  margin-top: 6px;
}
