@import '../../styles/vars';

.questionnaire {
  display: flex;
  gap: 37px;
}

.questionnaire__wrapper {
  margin: 24px 20px 24px 0;
  width: 1163px;
  border-radius: 28px;
  background-color: rgba(245, 245, 245, 1);
  padding-bottom: 120px;
}

.questionnaire__header {
  padding: 0 60px 0;
  margin: 14px 0 0;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid $grey-base-color;
}

.questionnaire-header__back-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  border: none;
  margin-right: 36px;
  cursor: pointer;
  background-color: $light-gray-base-color;
  width: 200px;
  padding: 0;
  text-align: left;
}

.questionnaire-header__back-button::before {
  content: '';
  padding: 2px 12px;
  background-image: url(../../images/CaretLeft.svg);
  background-repeat: no-repeat;
}

.questionnaire-header__data {
  width: 348px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  text-align: left;
}

.questionnaire-header__icon {
  margin: 0 12px;
  background-image: url(../../images/icon-user-header.svg);
  min-width: 52px;
  height: 52px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.questionnaire-header__underscribe {
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  margin-right: 12px;
}

.questionnaire-header__underscribe:last-child {
  margin-right: 0px;
}

.questionnaire-titles {
  height: 97px;
  font-size: 26px;
  font-weight: 600;
  line-height: 31.47px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $grey-base-color;
}

.questionnaire-titles__text {
  margin: 0 400px 0 60px;
}

.questionnaire-container {
  display: flex;
  flex-direction: column;
}

.questionnaire__criterion {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $grey-base-color;
}

.questionnaire__criterion-name {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 96px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  text-align: left;
  margin-left: 60px;
  width: 450px;
}

.questionnaire__criterion-value {
  display: flex;
  margin-left: 75px;
}

.questionnaire__text {
  font-size: 26px;
  font-weight: 500;
  line-height: 31.47px;
  text-align: left;
  display: block;
  margin: 40px 0 24px 60px;
}

.questionnaire__input-text {
  width: 864px;
  height: 264px;
  border-radius: 40px;
  margin-left: 60px;
  border: 2px solid rgba(197, 182, 241, 1);
  font-size: 16px;
  box-sizing: border-box;
  padding: 37px 24px;
}

.questionnaire__input-text:disabled {
  color: $black-base-color;
}

.questionnaire__input-text::placeholder {
  color: rgba(166, 166, 166, 1);
}

.questionnaire__input-text:focus-visible {
  border: 2px solid rgba(197, 182, 241, 1);
}

.questionnaire__input-text:focus-visible {
  border: 2px solid rgba(197, 182, 241, 1);
  outline: 0;
}

.questionnaire__star_out {
  position: relative;
  z-index: $zindex-10;
  background-image: url(../../images/star-questionnaire-transparent.svg);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 14px;
}

.questionnaire__star_in {
  background-image: url(../../images/star-questionnaire-grey.svg);
  position: absolute;
  z-index: $zindex-20;
  overflow: hidden;
  width: 0;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 40px auto;
}

.questionnaire__button {
  margin: 40px 0 30px 60px;
  width: 188px;
  height: 56px;
  top: 1691px;
  padding: 16px 40px;
  border-radius: 20px;
  background: $grey-base-color;
  border: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
  pointer-events: none;

  &:hover {
    background: $wrapper;
  }

  &_active {
    background: $yellow-base-color;
    pointer-events: all;
  }

  &:active {
    background: $purple-base-color;
  }
}
