@import '../../styles/vars';
@import '../../styles/mixins';

.container-input-popup-kanban__input-conteiner {
  height: 64px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.container-input-popup-kanban__input {
  border: 2px solid $black-base-color;
  border-radius: 20px;
  padding: 20px 24px;
  font-size: 20px;
  color: $black-base-color;
  box-sizing: border-box;
  height: 64px;
  width: 400px;
}

.container-input-popup-kanban__img-pen {
  margin: auto 15px auto 15px;
}

.container-input-popup-kanban__button {
  height: 32px;
  width: 32px;
  margin-left: 20px;
  padding: 0;
  border: none;
  background-color: white;
  cursor: pointer;
}

.container-input-popup-kanban__button_delete {
  @include button_delete;
}

.container-input-popup-kanban__button_edit {
  @include button_edit;
}
