// основные цвета
$white-base-color: #ffffff;
$black-base-color: #333232;
$light-gray-base-color: #f5f5f5;
$grey-base-color: #dad6d6;
$green-base-color: #8ada5a;
$dark-green-base-color: #5bb264;
$purple-base-color: #c5b6f1;
$red-base-color: #e56e53;
$yellow-base-color: #f5f07a;
$wrapper: linear-gradient(
  90deg,
  rgb(197, 182, 241) 10.6%,
  rgb(198, 183, 242) 37.1%,
  rgb(246, 241, 123) 71.6%,
  rgb(245, 240, 122) 89.1%,
  rgb(245, 240, 122) 100%
);

/* font */
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;

// настройки трансформаций // есть вопросы, нет ответа
$transition-hover: all 0.3s ease-in-out;
$transition-click: all 0.5s ease-in-out;

$zindex-10: 10;
$zindex-20: 20;
$zindex-30: 30;
$zindex-40: 40;

$zIndexes: (
  dropdown: 10,
  popup: 20,
);
