@import '../../styles/vars';
@import '../../styles/mixins';

.container {
  display: flex;
  align-items: center;
  padding: 6px;
  gap: 18px;
  width: 200px;
  height: 56px;
  border: 2px solid $black-base-color;
  border-radius: 20px;

  .well_block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 94px;
    height: 44px;
    border-radius: 15px;
    background: $wrapper;
  }
  span {
    @include text($font-weight: 600);
    text-transform: uppercase;

    &:nth-child(2) {
      @include text($font-weight: 900);
    }
  }
}
