@import '../../styles/vars';
@import '../../styles/mixins';

.dropdown {
  position: relative;

  /* button {
    text-decoration: none;
    width: 134px;
    height: 64px;
    border-radius: 40px;
    background: $purple-base-color;
    appearance: none;
    background-image: url(../../images/select-arrow.svg);
    background-position-x: calc(100% - 26px);
    background-position-y: center;
    background-repeat: no-repeat;
    padding: 14px 26px;
    @include text($black-base-color, 20px, 500, 1.2);
    text-align: start;
    cursor: pointer;
    border: none;
  } */

  /* .list {
    position: absolute;
    display: none;
    top: 64px;
    left: 0;
    margin-top: 4px;
    padding: 0;
    list-style: none;
    background-color: $purple-base-color;
    width: 134px;
    border-radius: 18px;
    z-index: 3;
    align-items: center;

    li {
      @include text($black-base-color, 16px, 500, 22px);
      height: 38px;
      margin: 0;
      padding: 8px;
      z-index: 1;
      text-align: center;

      cursor: pointer;

      &:first-child {
        margin-top: 12px;
      }

      &:last-child {
        margin-bottom: 12px;
      }

      &:hover {
        background: $white-base-color;
      }
    }
  } */


}

.list_visible {
    display: block !important;
  }

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  background: black;
  z-index: 1;
}

.overlay_active {
  display: block;
  visibility: visible;
  opacity: 0;
}

