@import '../../styles/vars';
@import '../../styles/mixins';

.popup {
  background-color: rgba(28, 28, 28, 0.5);
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-20;
}

.popup__container {
  width: 700px;
  height: 270px;
  color: $black-base-color;
  display: flex;
  flex-direction: column;
  background-color: $white-base-color;
  border-radius: 40px;
  position: relative;
  padding: 80px 99px 30px;
}

.popup-title {
  font-weight: $fw-medium;
  font-size: 26px;
  text-align: center;
}

.popup__text {
  font-weight: $fw-medium;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

.popup__icon-block {
  border: none;
  position: absolute;
  background-color: $purple-base-color;
  width: 56px;
  height: 56px;
  border-radius: 28px;
  top: 24px;
  right: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.popup__icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  background-repeat: no-repeat;
}
