@import '../../styles/vars';

.employeeViewFilter__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  height: 64px;
  box-sizing: border-box;
}

.employeeViewFilter__marks {
  width: 566px;
  display: flex;
  align-items: center;
}

.employeeViewFilter__title {
  font-size: 26px;
  font-weight: $fw-medium;
  line-height: 31.47px;
  color: $black-base-color;
  padding: 0 10px;
  width: 144px;
}

.employeeViewFilter__inputs {
  display: flex;
  flex-direction: row;
  gap: 4px;
  box-sizing: border-box;
}

.employeeViewFilter__label {
  height: 54px;
  background: $white-base-color;
  border-radius: 40px;
  outline: solid 2px $grey-base-color;
  padding: 14px 26px;
  font-size: 20px;
  font-weight: $fw-medium;
  line-height: 24.2px;
  color: $black-base-color;
  cursor: pointer;
  text-wrap: nowrap;
  box-sizing: border-box;
}

.employeeViewFilter__label.selected {
  outline: none;
}

.employeeViewFilter__input_task:checked + .employeeViewFilter__label {
  background: $purple-base-color;
}

.employeeViewFilter__stars {
  width: 275px;
  height: 63px;
  margin-right: 40px;
  display: flex;
  align-items: center;
}

.employeeViewFilter__button {
  height: 54px;
  background: $white-base-color;
  border-radius: 40px;
  border: solid 2px $purple-base-color;
  padding: 14px 26px;
  font-size: 20px;
  font-weight: $fw-medium;
  line-height: 24.2px;
  color: $black-base-color;
  cursor: pointer;

  &_marks {
    width: 107px;
    height: 54px;
    border: none;
    background: $purple-base-color;
    border-radius: 20px;

    &:hover {
      background: $wrapper;
    }

    &:active {
      background: $yellow-base-color;
    }
  }
}

.employeeViewFilter__calendar {
  position: relative;
  pointer-events: none;
}

.employeeViewFilter__input {
  width: 330px;
  height: 54px;
  border-radius: 20px;
  border: solid 2px $grey-base-color;
  padding: 14px 24px;
  font-size: 20px;
  font-weight: $fw-medium;
  line-height: 24.2px;
  color: $black-base-color;

  &_task {
    visibility: hidden;
    width: 0;
  }

  &_marks {
    width: 407px;
    height: 54px;
    padding-right: 60px;
  }
}

.employeeViewFilter__icon {
  position: absolute;
  top: 16.5px;
  right: 18px;
  width: 18px;
  height: 19.5px;
  background: url(../../images/calendar.svg);
  background-size: cover;
  border: none;
}
