.progress {
  display: flex;
  position: relative;
  width: 241px;
  height: 30px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  overflow: hidden;
  background-color: white;
  padding: 0;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 0.7;
  }

  .range {
    width: 100%;
    height: 30px;
    color: rgb(198, 242, 33);

    &::before {
      background-color: white;
    }
  }

  .text {
    position: absolute;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    top: 5px;
    left: 54px;
    margin: 0;
    padding: 0;
  }

  .statusText {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: white;
    margin: 0;
    padding: 0;
  }
}
